body {
font-family: Arial, sans-serif;
color: #2c3e50 !important;
background-color: #B67E7D;
margin: 0;
padding: 0;
line-height: 1.6;
}



.about-heading {
    color: #6B1E64;


}

.list-heading {
    font-family: cursive;
}

header{
    background-color: #800020; 
    color: #420001;
    padding: 20px;
    text-align: center;
}

header h1{
    margin: 0;
}
nav a {
    color: #FF69B4 !important;
    text-decoration: none;
    margin: 0 10px;
}

nav a:hover {
    text-decoration: underline;
}

main {
    padding:20px;
    max-width: 800px;
    margin: 0 auto;
}

main img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 20px 0;
}

footer {
    background-color: #A44A64;
    color: #ffffff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

p{
    font-size: 1.1em;
}

a{
    color: #ffffff
    text-decoration:none;
}

a:hover {
    text-decoration: none;
}

img {
    border: 5px solid #ADD8E6;
    border-radius: 10px;
}

main a[href^="mailto:"] {
    color: #FF6B6B;
    font-weight: bold;
}

.navbar-brand {
    font-size: 28px !important; 
    margin-left: -80px;
    letter-spacing: 1px;
}

.nav-center {
    display:flex;
    justify-content: center;
    margin-top: 10px;
    gap: 30px;
    
}

.inspiration-note {
    background-color: #e6f4ff;
    border-left: #4DA6FF;
    padding: 15px;
    width: 250px;
    float: right;
    margin: 10px;
}

.uni-table {
    background-color: #fff;
    margin: 20px auto;
    border: 1px solid #ddd;
    border-collapse: collapse;
    width: 80%;
    border: 3px double #b03a2e;
}

.uni-table th, .uni-table td {
    border: 3px double #b03a2e;
    padding: 10px;
    text-align: left;
    background-color: #f9f9f9;
    color: #333;
    

}


 .feedback-form-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.feedback-form {
    display: flex;
    flex-direction: column; 
    align-items: center;   
    width: 90%;
    max-width: 400px;
    padding: 30px;
    border-radius: 15px;
    gap: 15px;           
}
 
input, select, textarea {
    width: 100%;          
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}
