body {
font-family: Arial, sans-serif;
color: #ffffff !important;
background-color: #81B29A;
margin: 0;
padding: 0;
line-height: 1.6;
}

.about-heading {
    color: #CC5500;


}

.list-heading {
    font-family: cursive;
}

header{
    background-color: #556B2F;
    color: #CC5500;
    padding: 20px;
    text-align: center;
}

header h1{
    margin: 0;
}
nav a {
    color:#CC5500 !important;
    text-decoration: none;
    margin: 0 10px;
}

nav a:hover {
    text-decoration: underline;
}

main {
    padding:20px;
    max-width: 800px;
    margin: 0 auto;
}

main img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 20px 0;
}

footer {
    background-color: #556B2F;
    color: #ffffff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

p{
    font-size: 1.1em;
}

a{
    color: #4B5320;
    text-decoration:none;
}

a:hover {
    text-decoration: none;
}

img {
    border: 5px solid #CC5500;
    border-radius: 10px;
}

main a[href^="mailto:"] {
    color: #4B5320;
    font-weight: bold;
}

.navbar-brand {
    font-size: 28px !important; 
    margin-left: -80px;
    letter-spacing: 1px;
}

.nav-center {
    display:flex;
    justify-content: center;
    margin-top: 10px;
    gap: 30px;
}